body {
    color: white;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

form {
    background-color: rgb(22, 22, 22);
    border-radius: 15px;
    padding: 20px;
    border: solid;
}

.base_form input{
    width: 60%;
}

.phone-group button {
    font-size: medium;

}

.phone-group{
    display: flex;
    flex-flow: nowrap, row;
}

.phone-group button {
    display: flex;
}


.bouton_roue{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.roulette-container {
    width: 200px;
    height: 200px;
    margin: 0 auto;
    position: relative;
    border: 2px solid #ffffff;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 40px;
    margin-top: 40px;
}

.roulette {
    width: 100%;
    height: 100%;
    position: relative;

    background: conic-gradient(
        #ff0000 0% 10%,
        #00ff00 10% 20%,
        #0000ff 20% 30%,
        #ffff00 30% 40%,
        #ff00ff 40% 50%,
        #00ffff 50% 60%,
        #ff0000 60% 70%,
        #00ff00 70% 80%,
        #0000ff 80% 90%,
        #ffff00 90% 100%
    );
    transition: transform 20s ease-out;
}

.roulette.no-transition {
    transition: none;
}

#submit_button {
    font-size: large;
    width: 100px;
    height: 35px;
}

#back_button {
    position: relative;
    left: -400px;
    top: 40px;
}